<style lang="sass">
  .header 
    background: url('../assets/images/header-overlay.jpg')
    background-size: cover
    margin-top: -60px
    h1,p
      color: #f7f7f7
</style>

<template>

<!--Header-->
<div class="uk-grid " data-uk-grid-margin>
  <div class="uk-width-medium-1-1 header">

    <div class="uk-vertical-align uk-text-center" style="background: url('../assets/images/header.jpg') 50% 0 no-repeat; height: 90vh;">
      <div class="uk-vertical-align-middle uk-width-medium-2-3">
        <h1 class="uk-heading-large">Farming Just Got Simpler</h1>
        <p class="uk-text-large">KUZA provides you with detailed online farming video courses, one-on-one support and on-farm services to make sure you succeed in your next farming venture.</p>
        <p>
          <a class="uk-button uk-button-primary uk-button-large" href="#starter-kit" data-uk-smooth-scroll> Get a Starter Kit </a>
        </p>
      </div>
    </div>

  </div>
</div>

<!--Rest of the body-->
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom main-container">

  <!--One Stop Platform-->
  <div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-1-1 uk-text-center uk-margin-top uk-margin-bottom">
      <h2>We are a One-Stop Platform for All Things Farming</h2>
      <hr>
    </div>

    <div class="uk-width-medium-1-2 one-stop">
      <div class="uk-grid">
        <div class="uk-width-1-6">
          <img src="../assets/images/content.png">
        </div>
        <div class="uk-width-5-6">
          <h2>Online Video Courses</h2>
          <p>We offer you detailed short video courses for the best learning experience. The content is curated from the best experienced farmers and farm experts.</p>
        </div>
      </div>
    </div>

    <div class="uk-width-medium-1-2 one-stop">
      <div class="uk-grid">
        <div class="uk-width-1-6">
          <img src="../assets/images/support.png">
        </div>
        <div class="uk-width-5-6">
          <h2>Dedicated Support</h2>
          <p>Get help and support by engaging with experienced farmers and experts directly on Kuza. Join our farming forums to share, interact and learn from other farmers.</p>
        </div>
      </div>
    </div>

    <div class="uk-width-medium-1-2 one-stop">
      <div class="uk-grid">
        <div class="uk-width-1-6">
          <img src="../assets/images/services.png">
        </div>
        <div class="uk-width-5-6">
          <h2>On-farm Support</h2>
          <p>We offer you access to professional support on the farm from trusted experts in extension services during your initial stages of farming to help you get started.</p>
        </div>
      </div>
    </div>

    <div class="uk-width-medium-1-2 one-stop">
      <div class="uk-grid">
        <div class="uk-width-1-6">
          <img src="../assets/images/greenhouse.png">
        </div>
        <div class="uk-width-5-6">
          <h2>Professional Farm Services</h2>
          <p>Access other farm services to help you succeed in farming, including farm visits, access to farm inputs, labour, farm managers, agronomists and other farm services.</p>
        </div>
      </div>
    </div>

  </div>

  <hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom">

  <!--Mushroom Course-->
  <div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-1-2">
      <h2>Mushroom Farming</h2>
      <p>This course gives you detailed tutorials on what mushroom farming is all about, and how you can easily get started with support from experienced farmers and experts.The course is offered to you by Kuza in association with the Potentate farms and
        mushroom complex.</p>
      <!--<a class="uk-button uk-button-primary uk-button-large uk-margin-bottom" href="http://embed.wistia.com/deliveries/f72e6fa804f9849902bdbf4891c91a1804cab699/file.mp4" data-uk-lightbox><i class="uk-icon uk-icon-play"></i> Watch Promo</a>-->

      <a class="uk-button uk-button-primary uk-button-large" href="https://kuza.teachable.com/courses/mushroom-farming-in-kenya" target="_blank">Learn More</a>
    </div>

    <div class="uk-width-medium-1-2">
      <!--<img width="660" height="400" class="uk-thumbnail" src="../assets/images/mushroom-course.jpg" alt="">-->
      <video  width="660" height="400" class="uk-thumbnail" autoplay muted controls>
        <source src="http://embed.wistia.com/deliveries/f72e6fa804f9849902bdbf4891c91a1804cab699/file.mp4" type="video/mp4">
      </video>
    </div>

  </div>

  <hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom">

  <!--Farm Visits-->
  <div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-1-2">
      <img width="660" height="400" class="uk-thumbnail" src="../assets/images/farm-visit.jpg" alt="">
    </div>
    <div class="uk-width-medium-1-2">
      <h2>Farm Visits</h2>
      <p>Book a visit on one of our partner farms. Farm visits are a great way to get on the ground fast and start learning from the real experts one to one. You will learn the best practices to farm mushrooms, onions, tomatoes and other crops.</p>
      <a class="uk-button uk-button-primary uk-button-large" v-link="{ path: '/farms' }"><i class="uk-icon uk-icon-calendar-check-o"></i> Book a Farm Visit</a>
    </div>
  </div>

  <!--Starter Kit-->
  <hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom" id="starter-kit">
  <div class="uk-grid" >
    <div class="uk-width-medium-3-5">
      <h2>Starter Kits</h2>
      <p>Our starter kits contain everything you need to get started farming. We put our courses and services together into an affordable bundle</p>
      <img class="uk-align-center uk-margin-top uk-margin-bottom" width="400px" src="../assets/images/starter-kit.png">
    </div>
    <div class="uk-width-medium-2-5">
      <starter-kit></starter-kit>
    </div>
  </div>

  

  <hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom">

  <!--Email Box-->
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
      <div class="uk-panel uk-panel-box uk-panel-large uk-text-center">
        <form class="uk-form">
          <fieldset data-uk-margin>
            <strong class="uk-margin-right uk-text-large" v-show=!subscribed>Get personalized farming tips in your inbox</strong>

            <input type="email" placeholder="you@youremail.com" class="uk-input" v-model=email v-show=!subscribed required>
            <button class="uk-button uk-button-primary uk-margin-left" v-on:click="subscribe($event)" v-show=!subscribed>Subscribe</button>
            <strong class="uk-margin-right uk-text-large" v-show=subscribed>Thank you for subscribing!</strong>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <!--<hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom">-->

  <!--Work with the Best-->
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1 uk-text-center uk-margin-top uk-margin-bottom">
      <h2>Work with the best in the industry</h2>
      <hr>
    </div>
    <div class="uk-width-medium-1-4 uk-text-center">
      <img src="../assets/images/farmer.png">
      <h3>Experienced Farmers</h3>
    </div>
    <div class="uk-width-medium-1-4 uk-text-center">
      <img src="../assets/images/services.png">
      <h3>Sector Experts</h3>
    </div>  
    <div class="uk-width-medium-1-4 uk-text-center">
      <img src="../assets/images/organizations.png">
      <h3>Institutions & Organizations</h3>
    </div>   
    <div class="uk-width-medium-1-4 uk-text-center">
      <img src="../assets/images/investor.png">
      <h3>Agric. Investors</h3>
    </div>   
    
  </div>

  <hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom">

</div>

</template>


<script>
  import store from '../store'
  import StarterKit from './StarterKit.vue'

  export default {
    name: 'Home',
    components: {
      StarterKit
    },
    backgroundUrl: '../assets/images/header.jpg',
    data(){
      return {
        subscribed: false,
        email: ''
      }
    },
    methods: {
      subscribe: function(event){
        event.preventDefault()
        store.subscribers.push(
          this.email
        )
        this.subscribed=true
      }
    }
  }
</script>